*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section,header{
    text-align: center;
}

footer ul, header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
footer, header nav{
    background-color:steelblue;
    display: flex;
    color:whitesmoke;
    justify-content: center;
}

li{
    margin: 4px;
}