*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section,header{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:steelblue;
    color:whitesmoke;

}
ul{
    list-style: none;
    margin: 5px;
}
a{
    text-decoration: none;
    color:white;
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav{
    background-color:steelblue;
    display: flex;
    color:whitesmoke;
    justify-content: center;
}

li{
    margin: 4px;
}