@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    
}
article{
    width: 300px;
    font-family: 'Roboto';
}
img{
    width: 200px;
    height: auto;
}
article,header{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:steelblue;
    color:whitesmoke;

}

a{
    text-decoration: none;
    color: coral;
    background-color: brown;
}
a:visited{
    background-color: blueviolet;
}
a:hover{
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color: green;
}
a:active{
    background-color: red;
}

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav{
    background-color:steelblue;
    display: flex;
    color:whitesmoke;
    justify-content: center;
}
ul{
    list-style-type:square;
    list-style-position: outside;
    color: brown;
}
ol{
    list-style-type:lower-alpha;
}

li{
    margin: 4px;
}