*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tabela{
    border: 3px dashed black;
    border-collapse: collapse;
    margin: auto;
    width: 600px;
    font-size: 14px;
}
thead{
    font-weight: bold;
    background-color: brown;
    color:whitesmoke
}
tr,td{
    border: 3px dotted black;
}
tbody{
    font-size: 12px;
}

header{
    text-align: center;
}

tbody tr:hover{
    cursor: pointer;
    background-color: blueviolet;
    color: whitesmoke;
}